@model IEnumerable<ProyectManagement.Models.Proyect>

@{
    ViewData["Title"] = "My Proyects";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<h2 class="display-4">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@Html.DisplayFor(model => item.Name)</h5>
                <span class="badge badge-secondary">@Html.DisplayFor(model => item.Status)</span>
            </div>
            <p class="mb-1">@Html.DisplayFor(model => item.Description)</p>
        </a>
    }
</div>
