
@{
    Layout = "_layout";
}
<ul class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a asp-action="Details" asp-controller="Section" asp-route-id="@ViewData["currentSection"]" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "SectionDetails" ? "active" : "")">
            <span class="fas fa-poll-h"></span> Details
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="fas fa-calendar"></span> Planner
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Edit" asp-controller="Section" asp-route-id="@ViewData["currentSection"]" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "SectionEdit" ? "active" : "")">
            <span class="fas fa-cog"></span> Settings
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Delete" asp-controller="Section" asp-route-id="@ViewData["currentSection"]" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString() == "SectionDelete" ? "active" : "")">
            <span class="fas fa-trash"></span> Delete
        </a>
    </li>
</ul>

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}