@model ProyectManagement.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>
    </dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index" asp-controller="Job" asp-route-proyectId="@ViewData["CurrentProyect"]">Back to List</a>
</div>
